body
     		{
     	
     			background-color:rgba(0,0,0,0.9);

     		}
     		.nav
     		{

     			border-style:hidden;
     			border-color:white;
     			border-width:1px;
     			text-indent:59%;
     			padding:2%;

     		}
     		.nav p
     		{
     			display:inline;
     			color:rgba(255, 99, 71);
     			padding:2%;



     		}
     		.nav a
     		{
     			text-decoration:none;
     			color:white;
                    
     		}
               .nav a:hover
               {
                    color:rgba(255, 99, 71);
                    /* /text-transform:lowercase;/ */
               }

               .navsoc:hover{
                    transition-duration: 0.3s;
                    transform: scale(1.2);
                    background-color: rgba(255, 99, 71);
               }

     		#a
     		{

     			border-style:solid;
     			border-color:rgba(255,99,71);
     			border-width:1px;
     			padding:1%;
     			color:rgba(255,99,71);;

     		}
               #a:hover
               {
                    transition-duration: 0.3s;
                    transform: scale(1.2);
                    background-color: rgba(255, 99, 71);
                    color:rgba(0,0,0,0.8);
               }

               #resbut:hover{
                    transform: scale(1.2);
                    transition-duration: 0.3s;
                    background-color: rgba(255, 99, 71);
                    color:rgba(0,0,0,0.8);
               }
     		.content
     		{

     			margin-top:3%;
     			border-style:hidden;
     			border-color:rgba(255,99,71);
     			border-width:1px;
     		}
     		#c
     		{
     			text-indent:10%;
     			font-family:monospace;
     			color:rgba(255,255,255,0.6);
     		}
     		#b
     		{
     			text-indent:10%;
     			font-family:monospace;
     			color:rgba(255,99,71);
     		}
     		#d
     		{

     		    text-indent:10%;
     			font-family:monospace;
     			color:rgba(255,255,255,0.6);	
     		}
     		.buttons
     		{
     			border-style:solid;
     			border-color:rgba(255,99,71);
     			border-width:1px;
     			width:10%;
     			font-size:190%;
     			font-family:monospace;
     			margin-left:10%;
     			text-indent:15%;	
     		}
     		.buttons a
     		{
     			text-decoration:none;
     			color:rgba(255,99,71);

     		}
     	    .buttons p:hover
     		{
     			color:rgba(0,0,0,0.8);
     		}
     		#about
     		{
                    display:inline-block;
     			border-style:hidden;
     			border-color:rgba(255,99,71);
     			border-width:1px;
     			margin-top:5%;
     			text-indent:0%;
     			color:white;
                    margin-left:10%;
                    padding:2%;
                    font-family:monospace;
     			
     		}
            .about2
            {
               display:inline;
            }
     		#about h3
     		{
     			display:inline;
     			font-family:monospace;
                    font-size:200%;
     		}
     		#e
     		{
     			color:rgba(255,99,71);
     			text-indent:10%;
     			font-family:monospace;
     			
     		}
     		#about p
     		{
     			font-family:monospace;
                    width:70%;
                    font-size:120%;
     		}
               #block
               {
                    display:inline;
                    border-style:hidden;
                    border-width:1px;
                    background-color:rgba(255,255,255,0.2);
                    margin-right:2%;
                    padding:1%;
                    border-radius:20%;
               }
               #block2
               {
                    border-style:hidden;
                    border-width:1px;
                    background-color:#D5B6A5;
                    color:rgba(0,0,0,0.8);
                    width:70%;
                    padding:1%;
                    font-family:monospace;
                    margin-left:5%;
               }
               .block3
               {
                    margin-top:4%;
                    margin-left:5%;
                    border-style:hidden;
                    border-width:1px;
                    background-color:#D5B6A5;
                    color:rgba(0,0,0,0.8);
                    width:70%;
                    padding:1%;


               }
               #block3
               {
                    font-family:monospace;
               }
               .block4
               {
                    margin-top:4%;
                    margin-left:5%;
                    border-style:hidden;
                    border-width:1px;
                    background-color:#D5B6A5;
                    color:rgba(0,0,0,0.9);
                    width:70%;
                    padding:1%;
               }
               .block5
               {
                    display:inline-block;
                    margin-top:4%;
                    margin-left:5%;
                    border-style:hidden;
                    border-width:1px;
                    background-color:#D5B6A5;
                    color:rgba(0,0,0,0.8);
                    width:70%;
                    padding:1%;
               }
               #end
               {
                    font-family:monospace;
                    font-size:400%;
                    color:rgba(255,255,255,0.9);
                    margin-left:36%;

               }
               #details
               {
                    border-style:solid;
                    border-width:1px;
                    border-color: #FFB4A2;
                    font-size:50%;
                    margin-left:-16%;
                    color: #FFB4A2;
                    width:68%;
                    padding:2%;
               }
               #mail
               {
                    font-size:50%;
                    color: rgba(255,255,255,0.8);
                    margin-left:-5%;
               }
               hr
               {
                    width:80%;  
               }
               #project
               {
                 text-decoration:none;
                 font-family:sans-serif;
                 color:rgba(255,99,71);
               }
               #project:hover
               {
                 color:rgba(255, 0, 0, 0.6);
               }
